[Desktop Entry]
Version=1.0
Type=Application
Name=Inicio
Comment=
Exec=xfce4-appfinder
Icon=/home/manuel/.icons/app-icons/recalbox.png
Path=
Terminal=false
StartupNotify=true
