[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Salir del modo TV
Comment=
Icon=
Exec=hdmi-video-toggle
StartupNotify=false
Terminal=false
Hidden=false

