[Desktop Entry]
Version=1.0
Type=Application
Name=Spotify
Comment=Escucha música online
Icon=spotify
Exec=exo-open https://open.spotify.com
Categories=Network;AudioVideo;

StartupNotify=true
