[Desktop Entry]
Version=1.0
Type=Application
Name=YouTube
Comment=Plataforma de vídeos
Icon=youtube
Exec=exo-open https://www.youtube.com
Categories=Network;AudioVideo;

StartupNotify=true
