[Desktop Entry]
Version=1.0
Type=Application
Name=UJA - Google Docs - Presentaciones
Comment=Presentaciones
Icon=google-slides
Exec=exo-open https://docs.google.com/presentation/u/1/
Categories=Network;Office;Presentation;uja-apps
StartupNotify=true
