[Desktop Entry]
Version=1.0
Type=Application
Name=UJA - Google Docs - Hojas de cálculo
Comment=Hojas de cálculo
Icon=x-office-spreadsheet
Exec=exo-open https://docs.google.com/spreadsheets/u/1/
Categories=Network;Office;Spreadsheet;uja-apps
StartupNotify=true
