[Desktop Entry]
Version=1.0
Type=Application
Name=UJA - Google Docs - Documentos
Comment=Documentos
Icon=google-docs
Exec=exo-open https://docs.google.com/a/ujaen.es

Categories=Network;Office;WordProcessor;uja-apps
StartupNotify=true
