[Desktop Entry]
Name=Microsoft Word (limitado)
Comment=Microsoft Online App Word
Exec=exo-open 'https://office.live.com/start/Word.aspx'
Terminal=false
Type=Application
StartupNotify=true
Icon=ms-word
Categories=Microsoft Online Apps;Office;Network;
Path=
