[Desktop Entry]
Version=1.0
Type=Application
Name=WordReference
Comment=Diccionario multilingüe
Icon=/home/manuel/.icons/app-icons/wordreference.png
Exec=exo-open http://www.wordreference.com/es/
Categories=Network;Education;
StartupNotify=true
